APP_NAME="بازو پشتیبانی  "
APP_ENV=production
APP_KEY=base64:C1Yy/Emq/MoiPLO7rF3PomAJE2k0chiwMMo8=
APP_URL=https://support.uog.ir/bot

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=gonair_supportf7s987dfff
DB_USERNAME=gonair_supportn4dfks4dfjl
DB_PASSWORD=IHCMX6X3+O8_

BALE_BOT_TOKEN=184479014:o4MJGyNLBYcAN68m56oe4fLvI_dCA
BALE_API_URL=https://tapi.bale.ai/bot

APP_DEBUG=true

ASSET_URL=https://support.uog.ir

# https://tapi.bale.ai/bot1844790014:o4MJGyNLBYcA6oe4fLvI_dCA/setWebhook?url=https://support.uog.ir/bot/api/webhook